<!-- including the head -->
<%- include('layouts/head');-%>

	<body>
		<!-- including the header of the body -->
		<%- include('layouts/header');-%>
			<!-- creating nav bar -->
			<%- include('layouts/nav');-%>
				<section>
					<main>
						<h2>Hello Ipsis</h2>
						<h3>Welcome to our library</h3>
						<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In at dolorem nihil esse minus
							reiciendis officiis natus sed odio illo! Voluptate, adipisci quod aliquid quasi similique
							ratione corrupti at? Dolor.
						</p>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae necessitatibus consequatur
							dolores impedit quod itaque perferendis facere delectus dolore quae quibusdam ipsa iste
							laudantium amet fugit numquam officia, libero qui?
						</p>
						<h2>If you're our beloved admin...</h2>
						<button><a href="/login">Login</a></button>
					</main>
				</section>
	</body>
	<!-- including the footer of the html -->
	<%- include('layouts/footer');-%>
		<!-- including the footer of the html -->
		<%- include('layouts/foot');-%>